@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}
.title {
    display: flex;
    flex-direction: row;
    font-size: 64px;
    font-family: 'Benne', serif;
}
.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    
}
.stories {
    margin: 15px;
}
input {
    width: 300px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px;
}
button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
li {
    font-size: 16px;
}
a {
    color:#70BD42;
}
a:hover {
    color: red;
}
/* a:visited { */
    /* color:#8F42BD; */
/* } */

.pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 40px;
}
@media(max-width: 450px){
    .pagination{
        margin-top: 10px;
    }
    .stories{
        margin: 3px;
    }
}