* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
}
input {
    width: 300px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px;
}
button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}